<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="text-center">
<div class="row">
    <div class="col"></div>
    <div class="col-sm-3">

        </form>
        <form class="form-signin" method="post" action="/login">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputLogin" class="sr-only">Enter login</label>
            <input type="text" name="j_username" id="inputLogin" class="form-control" placeholder="Email address">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="j_password" id="inputPassword" class="form-control mb-3" placeholder="Password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
</div>
    <div class="col"></div>
</div>
</body>
</html>